@import url('https://fonts.googleapis.com/css?family=Work+Sans:200');

html, body {
    width: 100%;
    height: 100%;
}

.calc {
    display: block;
    text-align: center;
    width: 280px;
    height: 500px;
    float: right;
    position: relative;
}

.calc:before { /* "before" or "after" can be addeded to class to adjust "content" */
    content: "";
    position: absolute;
    left: 10px;
    bottom: 16px;
    right: 10px;
    height: 40px;
    border-radius: 100%;
    box-shadow: 0 35px 33px 0 rgba(240,95,92.24, 4.0);
}

.result {
    display: block;
    width: 280px;
    height: 145px;
    position: relative; /* relativ for input */
    float: left;
    background-color: #343867;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    padding-bottom: 5px;
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    outline-style:none;

}

.result_num {
    position: absolute; /* in class .result can move */
    bottom: 15px;
    right: 25px;
    text-align: right;
    background: transparent; /* transparent input */
    border: none;
    font-size: 40px;
    color: white;
    outline: none;
    width: 240px;
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    outline-style:none;
    font-family: 'Work Sans', sans-serif;
    font-weight: 200;
}

#full_result {
    font-size: 20px;
    position: absolute;
    user-select: none;
    background: transparent;
    border: none;
    text-align: right;
    color: white;
    top: 40px;
    right: 25px;
    outline: none;
    font-weight: 200;
    font-family: 'Work Sans', sans-serif;
}

input {
    cursor: default;
}

button {
    width: 70px;
    height: 70px;
    display: block;
    float: left;
    background-color: #F05F5C;
    color: white;
    text-align: center;
    font-size: 16px;
    border: 1px solid #F1726B;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.1s;
    cursor: pointer;
    outline: none;
    position: relative;
    z-index: 1; /* what will be on first place to view with position absolute */
}

button:hover {
    background-color: #E33D3D;
}

.btndot {
    /*box-shadow: 0 14px 20px 0 rgba(240,95,92.24, 0.5);*/
}

.btneql {
    border-bottom-right-radius: 12px;
    /*box-shadow: 0 14px 20px 0 rgba(240,95,92.24, 0.5);*/
}

.btnzero {
    width: 140px;
    border-bottom-left-radius: 12px;
    /*box-shadow: 0 14px 20px rgba(240,95,92, 0.5);*/
}

.wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin: auto; /*Fixed position*/
}
