html {
    height: 100%;
}

body {
    float: left;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#header {
    display: block;
    width: 100%;
    height: 50px;
    background: yellow;
}

#center {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    width: 100%;
    background: red;
}

#sidebar {
    display: inline-flex;
    width: 150px;
    background: blue;
}

#page {
    display: inline-flex;
    flex-grow: 1;
    background: red;
    position: relative;
    flex-direction: column;
}

#text {
    display: inline-flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

#footer {
    display: block;
    width: 100%;
    height: 50px;
    background: darkolivegreen;
}

/* Button FUNCTION */

#button {
    display: inline-flex;
    justify-content: space-evenly;
    align-items: left;
}


