body {
    width: 100%;
    height: 100%;
    margin: 0;
}


.block1 {
    display: flex;
    width: 100%;
    height: 200px;
    background: burlywood;
}

.block2 {
    display: flex;
    width: 100%;
    height: 200px;
    background: brown;
}

.block3 {
    display: flex;
    width: 100%;
    height: 200px;
    background: deeppink;
}

.block4 {
    display: flex;
    width: 100%;
    height: 200px;
    background: firebrick;
}