body {
    width: 100%;
    height: 100%;
    display: flex;
}

.wraper {
    width: 1000px;
    height: 1000px;
    display: flex;
    flex-direction: column;
}

.block_column {
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.block_row {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.cube1 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: lightgreen;
}

.insidecubetopleft {
    display: flex;
    background: grey;
    width: 75%;
    height: 75%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.cube2 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: darkolivegreen;
}

.insidecubetopright {
    width: 75%;
    height: 25%;
    background: grey;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
}

.cube3 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: darkgreen;
}

.insidecubebottomleft {
    width: 35%;
    height: 75%;
    background: grey;
}

.cube4 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: yellowgreen;
}

.insidecubebottomright {
    width: 150px;
    height: 150px;
    background: grey;
    display: flex;
}