body {
    background: #282828;
    align-items: center;
    justify-content: center;
    position: relative;
}

.fullblock {
    position: absolute;
    top: 100px;
    left: 100px;
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 800px;
}

.block_row {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.block_column {
    display: flex;
    flex-direction: column;
}

.containertopleft {
    display: flex;
    background: #8dc63f;
    height: 400px;
    width: 400px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cube {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #c6c6c6;
    font-weight: bold;
    width: 70%;
    height: 70%;
}

.containertopright {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background: #5a7f28;
    height: 400px;
    width: 400px;
}

.buttonallert {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #c6c6c6;
    font-weight: bold;
    width: 70%;
    height: 25%;
    border: none;
}

#buttoncolor {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #c6c6c6;
    font-weight: bold;
    width: 70%;
    height: 25%;
    border: none;
}

.containerupperleft {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: #1d290d;
    height: 400px;
    width: 400px;
}

.collumn {
    display: flex;
    background: #c6c6c6;
    width: 30%;
    height: 75%;
}

.containerupperright {
    position: relative;
    justify-content: space-around;
    background: #374d18;
    height: 400px;
    width: 400px;
}

.block1 {
    position: absolute;
    left: 60px;
    top: 60px;
    display: flex;
    background-color: #c6c6c6;
    width: 30%;
    height: 30%;
}

.block2 {
    position: absolute;
    right: 60px;
    top: 60px;
    display: flex;
    background: #c6c6c6;
    width: 30%;
    height: 30%;
}

.block3 {
    position: absolute;
    left: 60px;
    bottom: 60px;
    display: flex;
    background: #c6c6c6;
    width: 30%;
    height: 30%;
}

.block4 {
    position: absolute;
    right: 60px;
    bottom: 60px;
    display: flex;
    background: #c6c6c6;
    width: 30%;
    height: 30%;
}

button:hover {
    background: green;
}

.pepecontainer {
    position: relative;
    display: flex;
}

p {
    width: 400px;
    height: 45px;
    top: 100px;
    left: 100px;
    position: absolute;
    font-weight: bold;
    font-style: normal;
    background: #8dc63f;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}