body {
    width: 100%;
    height: 100%;
}

.eyesblock {
    width: 800px;
    height: 600px;
    display: flex;
}

.eyes {
    background: green;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.eyes2 {
    background: aqua;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blackeye {
    background: black;
    width: 100px;
    height: 200px;
}

.mouthblock {
    background: darkolivegreen;
    width: 800px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blackbouth {
    background: black;
    width: 600px;
    height: 100px;
}