
body {
    width: 100%;
    height: 100%;
    display: flex;
}

.purple {
    background: purple;
    width: 1000px;
    height: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.red {
    width: 900px;
    height: 300px;
    display: flex;
    background: red;
    align-items: center;
    justify-content: center;
}

.row {
    position: relative;
    width: 220px;
    height: 220px;
}

.block1 {
    position: absolute;
    background: black;
    width: 100px;
    height: 100px;
}

.block2 {
    position: absolute;
    right: 0;
    background: black;
    width: 100px;
    height: 100px;
}

.block3 {
    position: absolute;
    bottom: 0;
    left: 0;
    background: black;
    width: 100px;
    height: 100px;
}

.block4 {
    position: absolute;
    bottom: 0;
    right: 0;
    background: black;
    width: 100px;
    height: 100px;
}
