html {
    display: flex;
    width: 100%;
    height: 100%;
    background: white;
    align-items: center;
    justify-content: center;
}

body {
    width: 100%;
    height: 100%;
    background: darksalmon;
    display: flex;
    align-items: center;
}

.wrap {
    width: 100%;
    height: 50%;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.block_row {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    margin: 5px;
}

.block_row2 {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    margin: 5px;
    background: green;
    justify-content: center;
    align-items: center;
}


.block1 {
    background: firebrick;
    width: 100%;
    height: 100%;
    margin: 4px;
}


.block2 {
    margin: 4px;
    width: 100%;
    height: 91%;
    background: darkblue;
    border: firebrick solid 10px;

}

.block3 {
    background: yellow;
    width: 85%;
    height: 85%;
    margin: 10px;
}

.block4 {
    background: yellow;
    width: 85%;
    height: 85%;
    margin: 10px;
}